@mixin text ($f-size,$f-family,$l-height){
	font-size: $f-size;
	font-family: $f-family;
	line-height: $l-height;
}
.main2{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 155px;
	gap: 60px;
	.main2-item{
		max-width: 370px;
		padding: 0px 10px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		img{
			width: 100%;
			height: 60%;
		}
		.main2-item-desc{
			display: flex;
			flex-direction: column;
			gap: 15px;
			.main2-paragraf1{
				@include text(10px, "libre", 12px);
				color: #999999;
				text-transform: uppercase;
				letter-spacing: 1px
			}
			h2{
				@include text(24px, "tenor", 28px);
				color: #000000;
				text-transform: uppercase;
			}
			.main2-paragraf2{
				@include text(10px, "libre", 12px);
				color: #000;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}
	}
}