@mixin text ($f-size,$f-family,$l-height){
	font-size: $f-size;
	font-family: $f-family;
	line-height: $l-height;
}
.main2{
	width: 100%;
	padding-top: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.main2-header{
		max-width: 450px;
		display: grid;
		gap: 11px;
		padding-bottom: 100px;
		.main2-header-box{
			max-width: 130px;
			padding: 8px 16px;
			background-color: #F3F7F2;
			margin: 0px auto;
			border-radius: 5px;
			text-align: center;
			p{
				@include text(18px,"roboto",32px);
				color: #153C3C;
				text-transform: uppercase;
				font-weight: 400;
			}
		}
		h2{
			@include text(56px,"roboto",64px);
			color: #172426;
			text-align: center;
			letter-spacing: 2.5px;
			font-weight: 400;
		}
	}
}
.main2-box{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
	.main2-box-item{
		padding: 40px 60px;
		background-color: #F2F8F8;
		display: grid;
		gap: 40px;
		border-radius: 10px;
		p{
			@include text(21px,"roboto",32px);
			color: #172426;
			letter-spacing: 1px;
			font-weight: 400;
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
}
@media (max-width: 1000px) {
	.main2-box{
		display: flex;
		flex-wrap: wrap;
	}
}